{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/page.twig -->
  {% embed '@layouts/regions/content/content.twig' %}
    {% block content %}
      {% embed "@components/article/article.twig" %}
        {% block title %}
          {% include "@components/page-title/page-title.twig" with
            {
              page_title: post.title
            }
          %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block main %}
          <div class="l-sidebar{{ has_multiple_sidebar ? ' l-sidebar--multi-2' }} {{ modifier_classes }}">
            {% if has_header %}
            {% endif %}

            {% if has_multiple_sidebar %}
            {% endif %}

            <div class="l-sidebar__main">
              {% block sidebar_main %}
                {{ post.content }}
              {% endblock %}
            </div>

            {% if (post.has_events or post.contact or post.contact_text) %}
              <aside class="l-sidebar__sidebar">
                {% block sidebar_aside %}
                  {% if post.has_events %}
                    <h3 class="l-sidebar__subheading">Upcoming Events</h3>
                    {% filter shortcodes %}
                      [events_list limit="5" category="{{- post.category -}}"]<div class="teaser teaser--event"><div class="teaser--event__first"><div class="calendar-date"><div class="calendar-date__month">#M</div><div class="calendar-date__day">#j</div></div></div><div class="teaser--event__second">#_EVENTLINK<br><span class="teaser--event__text"><strong>#_EVENTTIMES</strong><br>#_EVENTEXCERPT{15,...}</span></div></div>[/events_list]
                    {% endfilter %}
                  {% endif %}
                  {% if (post.contact or post.contact_text) %}
                    <h3 class="l-sidebar__subheading">Contact</h3>
                    <a class="contact__email mail" href="mailto:{{- post.contact -}}">{{- post.contact -}}</a>
                    <div class="contact__content">
                      {{- post.contact_text -}}
                    </div>
                  {% endif %}
                {% endblock %}
              </aside>
            {% endif %}
          </div>
        {% endblock %}
        {% block comments %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}
{% endblock %}
