{%
  set classes = [
    'hero-inline-image',
    custom_classes ? custom_classes,
    has_overlay ? 'has-overlay',
  ]|join(' ')|trim
%}

<div class="{{ classes }}">
  <picture class="hero-inline-image__picture">
    <source srcset="{{ image.large }}" media="(min-width: 1024px)" type="image/jpeg">
    <source srcset="{{ image.medium }}" media="(min-width: 760px)" type="image/jpeg">
    <source srcset="{{ image.small }}" type="image/jpeg">
    <img srcset="{{ image.large }}" alt="Hero Image Alt Text">
  </picture>
  <div class="hero-inline-image__content">
    <a class="site-name" href="{{ url }}" title="{{ 'Home' }}" rel="home">
      <h1 class="site-name__text">{{ site_name }}</h1>
    </a>
  </div>
</div>
